<ion-header>
  <ion-navbar>
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>Alertas Pendentes</ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding id="page12">
  <ion-list>
    <ion-item color="none" *ngFor="let alert of itens | async " (click)="showOptions(alert.key, alert.alerta.title_alert, alert.alerta.type_alert, alert.alerta.date_alert, alert.alerta.last_description, alert.alerta.url_photo, alert.alerta.local_alert)">
      <ion-thumbnail item-left>
        <img style="width: 80px; height: 80px;"[src]="sanitizer.bypassSecurityTrustResourceUrl(alert.alerta.url_photo)">
      </ion-thumbnail>
      <h2>Título: {{alert.alerta.title_alert}}</h2>
      <p *ngIf="alert.alerta.type_alert=='1'">Tipo Alerta: Grave (Vermelho)</p>
      <p *ngIf="alert.alerta.type_alert=='2'">Tipo Alerta: Médio (Amarelo)</p>
      <p *ngIf="alert.alerta.type_alert=='3'">Tipo Alerta: Leve (Verde)</p>            
      <p>Data e hora: {{alert.alerta.date_alert | date:'dd/MM/yyyy - HH:mm'}}</p>
      <p>Descrição: {{alert.alerta.last_description}}</p>
      <p>Autor: {{alert.alerta.autor}}</p>       
     
    </ion-item>
    
  </ion-list>
</ion-content>
